* {
    box-sizing: border-box;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    padding: 0;
}

.background {
    background-image: url(./1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: .9;

    width: 100vw;
    height: 80vh;
}

.background .text,
.background .icon {
    display: block;

    color: #ffedd5;
    background-color: #ea580c;
}

.background .text:hover,
.background .icon:hover {
    background-color: #f97316;
}

.background .text {
    font-weight: 600;
    font-size: 16px;

    text-align: center;
    
    padding: 12px;

    width: 80%;
    max-width: 360px;

    border-radius: 6px;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background .icon {
    
    padding: 8px;

    width: 48px;
    height: 48px;

    border-radius: 24px;

    position: relative;
    top: 88%;
    left: 50%;
    transform: translate(-50%, 0);
}

.content .text h1 {
    padding: 32px;
}